h1,h2{
    font-weight: normal
}

#wrapper{
    width: 90%px;
    max-width: 960px;
    margin: 50px auto;
    border-radius: 6px:
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    bow-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;

}
#page-banner{
    background: rgba(73, 5, 39, 0.336);
    padding: 30px 0;
}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#book-list, #add-book, #tabbed-content{
    margin: 30px;
}

#book-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#book-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10 px;
}

#booklist-list li:hover{
    border-color: #9361bf;
}

.delete{
    float: rigth;
    background: #0e3b778c;
    padding:5px;
    border-radius: 4px;
}